body {
    background-image: url("/space.jpg");
    color: aliceblue;
    font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
    font-size: 24px;
}
.some-class {
    color: lightseagreen;
}

#logo {
    height: 100px;
    width: auto;
}

.profilediv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.063);
    box-shadow: 0 0 15px 1px #ffffff45;
    border-radius: 50px;

    width: 90vw;
    height: 50vh;

    margin: 5% 0 5% 0;
}

a {
    color: white;
}

a:visited {
    color: white;
}
.biodiv {
    background-color: rgba(255, 255, 255, 0.063);
    width: 50%;
    height: 100%;
    padding: 5%;
}
.bio {
    display: inline;
}
.appdiv {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registrationdiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logindiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    height: 100px;
    width: 100px;
    top: 0%;
    right: 0;
    position: absolute;
    border-radius: 50%;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#profilepicProfile {
    height: 200px;
    width: 200px;
    float: left;
    display: inline;
}

.profile-pic:hover {
    cursor: pointer;
}

.recentUsersdiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.recentUsersImg {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.uploaderdiv {
    position: fixed;
    z-index: 1;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: azure;
}
.close {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
}

form {
    border-radius: 10px;

    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin: 1%;
    padding: 15px;
    border: 0;

    color: black;
    border-radius: 10px;
    font-size: 15px;

    background-color: hsla(236, 33%, 100%, 0.623);
    box-shadow: 0 0 15px 1px #27294d45;
    border-radius: 10px;
    outline: none;
}

#chooseImg {
    display: none;
}
label {
    cursor: pointer;
    margin: 10px;
    background-color: hsla(236, 33%, 100%, 0.623);
    box-shadow: 0 0 15px 1px #27294d45;

    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

label:hover {
    background-color: #ccc;
}

label:visited {
    background-color: yellow;
}

button {
    /* remove default behavior */
    appearance: none;
    -webkit-appearance: none;
    box-shadow: 0 0 15px 4px rgba(255, 0, 0, 0.06);

    /* usual styles */
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: #000000;
    color: rgb(209, 211, 228);
    font-weight: 600;
    border-radius: 5px;
    font-family: "Libre Baskerville", serif;
}

button:hover {
    cursor: pointer;
}
button:active {
    background-color: aquamarine;
    padding-top: 2px;
}
